.bucket-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

html, body, #game-container {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}
.bucket-main {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    position: relative;
}
.game-background {
    /*
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.bucket-toys {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.toy, .bucket {
    flex: none;
    width: 20vmin;
    height: 20vmin;
    min-width: 7.5rem;
    min-height: 7.5rem;
    position: relative;
}

.bucket img {
    max-width: 100%;
    max-height: 100%;
}

@media screen and (max-width: 400px) {
    .toy-hidden {
        display: none;
    }
}
.bucket-number {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
}

.toy-image {
    width: 100%;
    height: 100%;
}

.toy .MuiButton-label {
    height: 100%;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
}